* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex: 1 0 300px;
}