* {
    box-sizing: border-box;
}

caption {
    margin-bottom: 8px;
}

thead {
    background-color: aqua;
}

table {
    margin: 16px;
    width: 500px;
}

tfoot {
    font-weight: 700;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    padding: 4px;
    text-align: right;
    width: 40px;
}

div {
    overflow-x: auto;
}

.line_hover:hover {
    background-color: #aaa;
    color: white;
}

.odd_lines {
    background-color: #f2f2f2;
}