* {
    box-sizing: border-box;
}

body {
    display: inline-block;
}

.tooltip {
    border-bottom: 1px dotted black;
    margin: 16px;
}

.tooltip-text {
    background-color: gray;
    color: white;
    border-radius: 4px;
    padding: 8px;
    display: none;
    position: absolute;
    top: 40px;
}

div:hover span {
    display: block;
}