* {
    box-sizing: border-box;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin: 16px;
}

.tooltip-text {
    background-color: gray;
    color: white;
    border-radius: 4px;
    padding: 8px;
    margin: 0;
    display: none;
    position: absolute;
    bottom: -40px;
}

.tooltip:hover .tooltip-text {
    display: block;
}